html {
    background-color: rgb(32, 17, 59);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 11pt;
}

body {
    display: flex;
    justify-content: center;
    min-height: 100vh;
}

main {
    background-color: rgb(255, 213, 255);
    width: 70rem;
    padding: 1rem;
    border-radius: 0.5rem;
}
.fronty{
    padding: 1%;
}
.fronty label{
    padding-right: 2vw;
}
button{
    padding:1%;
    background-color: rgb(30, 17, 78);
    color: white;
    border-radius: 10%;
    border: dashed rgb(0, 0, 0) 5px;
 
}
button:hover{
    transition-duration: 0.3s;
    background-color: rgb(182, 236, 195);
    color: rgb(0, 0, 0);
}
main{
    padding:2%;
     line-height: 2;
}

input[type=text] {
    padding: 1%;
    border-color: rgb(24, 22, 48);
    margin-bottom: 5px;
}